In [8]:
import pandas as pd
df=pd.read_csv('IMDB.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [9]:
df['review'][2]

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.<br /><br />This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.<br /><br />This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [10]:
#first step: lower casing
df['review']= df['review'].str.lower()

In [11]:
#second step: removing html tags
import re
def remove_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

df['review']= df['review'].apply(remove_html)

df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
#third step: removing URLs
def remove_urls(text):
    url_pattern = re.compile(r'http\S+|www\S+')
    return url_pattern.sub(r'', text)

df['review']= df['review'].apply(remove_urls)

In [13]:
#third step: removing punctuation
import string
exclude=string.punctuation

def remove_punctuation(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

df['review']= df['review'].apply(remove_punctuation)

In [14]:
text="Hello!!! This is a sample text with punctuation. Visit us at http://example.com <br> Thank you!!!"
cleaned_text=remove_punctuation(remove_urls(remove_html(text.lower())))
print(cleaned_text)

hello this is a sample text with punctuation visit us at   thank you

In [15]:
import time
start_time = time.time()
cleaned_text=remove_punctuation(text)
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time*50000} seconds")

Execution time: 5.733966827392578 seconds

In [34]:
def remove_punctuation2(text):
    translated = text.translate(str.maketrans('', '', exclude))
    return translated

In [38]:
start_time = time.time()
cleaned_text=remove_punctuation2(text)
end_time = time.time()
execution_time2 = end_time - start_time
print(f"Execution time: {execution_time2*50000} seconds")

Execution time: 3.7670135498046875 seconds

In [36]:
execution_time/execution_time2

0.5318849640512661

In [16]:

from textblob import TextBlob
def correct_spelling(text):
    blob = TextBlob(text)
    return str(blob.correct())
    
# df['review']= df['review'].apply(correct_spelling)

In [12]:
text="Ths is a smple txt with sme speling erors."
corrected_text=correct_spelling(text)
corrected_text

'The is a smile txt with she spelling errors.'

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\NILOY\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [18]:
#removing stop words
from nltk.corpus import stopwords

stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [20]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return ' '.join(filtered_words)

df['review']= df['review'].apply(remove_stopwords)

In [21]:
text="This is a sample text with some common stop words."
cleaned_text=remove_stopwords(text)
cleaned_text

'This sample text common stop words.'

In [24]:
#removing emojis
import emoji
def remove_emojis(text):
    return emoji.replace_emoji(text, replace='')
# df['review']= df['review'].apply(remove_emojis)

In [25]:
text="emoji üòäüòÇüëç‚ù§Ô∏èüî• text"
cleaned_text=remove_emojis(text)
cleaned_text

'emoji  text'

In [ ]:
#replace emoji
text="emoji üòäüòÇüëç‚ù§Ô∏èüî• text"
print(emoji.demojize(text))

#I think converting emojis into text before other preprocessing is better

emoji :smiling_face_with_smiling_eyes::face_with_tears_of_joy::thumbs_up::red_heart::fire: text