In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [2]:
options = Options()
options.add_argument("--start-maximized")

driver = webdriver.Chrome(options=options)
driver.get("https://www.google.com")

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

options = Options()
options.add_argument("--start-maximized")

driver = webdriver.Chrome(options=options)
wait = WebDriverWait(driver, 10)

driver.get("https://quotes.toscrape.com/")

wait.until(
    EC.presence_of_element_located((By.CLASS_NAME, "quote"))
)

quotes = driver.find_elements(By.CLASS_NAME, "quote")
Author=[]
for q in quotes:
    text = q.find_element(By.CLASS_NAME, "text").text
    author = q.find_element(By.CLASS_NAME, "author").text
    Author.append(author)
    print(text, "-", author)

driver.quit()
print(Author)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” - Albert Einstein
“It is our choices, Harry, that show what we truly are, far more than our abilities.” - J.K. Rowling
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” - Albert Einstein
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” - Jane Austen
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” - Marilyn Monroe
“Try not to become a man of success. Rather become a man of value.” - Albert Einstein
“It is better to be hated for what you are than to be loved for what you are not.” - André Gide
“I have not failed. I've just found 10,000 ways that won't work.” - Thomas A. Edison
“A woman is like a tea bag; you never know how strong it is until it's in hot water.” - Eleanor Roosevelt
“A day without sunshine is like, you know, night.” - Steve Martin
['Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Jane Austen', 'Marilyn Monroe', 'Albert Einstein', 'André Gide', 'Thomas A. Edison', 'Eleanor Roosevelt', 'Steve Martin']

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

website = 'https://www.ambitionbox.com/list-of-companies?page=1'

options = Options()
options.add_argument("--start-maximized")

driver = webdriver.Chrome(options=options)
driver.get(website)

wait = WebDriverWait(driver, 10)


companies = wait.until(
    EC.presence_of_all_elements_located(
        (By.XPATH, '//h2[contains(@class,"companyCardWrapper__companyName")]')
    )
)

company_names = [c.text.strip() for c in companies]

action_elements = wait.until(
    EC.presence_of_all_elements_located(
        (By.XPATH, '//span[contains(@class,"companyCardWrapper__ActionCount")]')
    )
)

length = len(action_elements)

# ------------------ DATA LISTS ------------------
reviews = []
salaries = []
interviews = []
jobs_list = []
benefits = []
photos = []

# ------------------ SPLITTING DATA ------------------
for i in range(0, length - length % 6, 6):
    reviews.append(action_elements[i].text)
    salaries.append(action_elements[i + 1].text)
    interviews.append(action_elements[i + 2].text)
    jobs_list.append(action_elements[i + 3].text)
    benefits.append(action_elements[i + 4].text)
    photos.append(action_elements[i + 5].text)

print(jobs_list)
    
driver.quit()

['3k', '31.4k', '7k', '799', '1.9k', '230', '1.6k', '22', '247', '428', '438', '1.1k', '262', '3', '61', '1.5k', '65', '51', '472', '2.4k']

In [12]:
import pandas as pd
data = {
    "Company": company_names,
    "Reviews": reviews,
    "Salaries": salaries,
    "Interviews": interviews,
    "Jobs": jobs_list,
    "Benefits": benefits,
    "Photos": photos
}
df = pd.DataFrame(data)
print(df)

                   Company Reviews Salaries Interviews   Jobs Benefits Photos
0                      TCS    1.1L     9.6L      11.7k     3k    10.6k     87
1                Accenture   70.7k     6.4L       9.1k  31.4k     6.7k     48
2                    Wipro   62.7k     4.7L       6.5k     7k     4.6k     99
3                Cognizant   59.7k     5.9L       6.2k    799     5.5k     82
4                Capgemini   51.3k     4.7L       5.4k   1.9k     3.6k     41
5                HDFC Bank   50.2k     1.5L       2.8k    230     3.2k     72
6                  Infosys   46.9k     5.2L       8.3k   1.6k     4.8k    117
7               ICICI Bank     45k     1.5L       2.8k     22     3.7k     70
8                  HCLTech   44.2k     3.7L       4.4k    247     3.8k     63
9            Tech Mahindra   42.1k     2.8L       4.4k    428     3.4k     79
10                 Genpact   40.5k     2.3L       3.7k    438     3.5k     63
11         Teleperformance   36.3k    95.3k       2.1k   1.1k     1.8k     38
12               Axis Bank   32.1k       1L       1.8k    262     2.1k    120
13                     Jio   31.6k      62k       3.5k      3     2.5k     81
14  Concentrix Corporation   31.4k     1.3L       1.9k     61     3.1k     66
15                  Amazon   30.6k     1.5L       5.7k   1.5k     4.1k     88
16              iEnergizer   27.3k    24.1k        979     65      430     28
17         Reliance Retail   26.8k    73.3k       1.9k     51     1.9k    129
18             LTIMindtree   25.4k     1.9L       3.3k    472      776     34
19                     IBM   25.2k     2.1L       2.6k   2.4k     2.6k     23