In [ ]:
import pandas as pd

# Simple list example (unused but kept for demonstration)
fruits = ['apple', 'banana', 'cherry']
fruits_df = pd.DataFrame(fruits, columns=['Fruit'])  # Optional: print(fruits_df)

# Dictionary to build a DataFrame
people = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

# Build full DataFrame including City so we can access it
people_df = pd.DataFrame(people)
print("First city:", people_df["City"][1])

First city: Los Angeles

In [2]:
import pandas as pd
sr={"r":pd.Series([2,4,6,8]), "s":pd.Series([6,20,18,56])}

var=pd.DataFrame(sr)
# var["div"]=var["s"]/var["r"]
# var["mul"]=var["s"]*var["r"]
# var["add"]=var["s"]+var["r"]
# var["sub"]=var["s"]-var["r"]
# var["comp"]=var["mul"]<100
var.insert(2, "div", [1,2,3,4])
var["partial"]=var["r"][:2]
var

   r   s  div  partial
0  2   6    1      2.0
1  4  20    2      4.0
2  6  18    3      NaN
3  8  56    4      NaN