In [44]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [58]:
df=pd.read_csv('tested.csv')
df.shape

(418, 12)

In [46]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  34.5      0      0   7.8292        Q
1         1       3  female  47.0      1      0   7.0000        S
2         0       2    male  62.0      0      0   9.6875        Q
3         0       3    male  27.0      0      0   8.6625        S
4         1       3  female  22.0      1      1  12.2875        S

In [47]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns=['Survived']),
    df['Survived'],
    test_size=0.2,
    random_state=42
)

In [48]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [49]:
si_age=SimpleImputer(strategy='mean')
si_Fare=SimpleImputer(strategy='mean')

X_train_age=si_age.fit_transform(X_train[['Age']])
X_train_fare=si_Fare.fit_transform(X_train[['Fare']])

X_test_age=si_age.transform(X_test[['Age']])
X_test_fare=si_Fare.transform(X_test[['Fare']])

# X_train[['Age']]=X_train_age
# X_train[['Fare']]=X_train_fare

# X_test[['Age']]=X_test_age
# X_test[['Fare']]=X_test_fare

In [39]:
ohe_sex=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
ohe_embarked=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
X_train_sex=ohe_sex.fit_transform(X_train[['Sex']])
X_train_embarked=ohe_embarked.fit_transform(X_train[['Embarked']])

X_test_sex=ohe_sex.transform(X_test[['Sex']])
X_test_embarked=ohe_embarked.transform(X_test[['Embarked']])

In [50]:
X_train_remain=X_train.drop(columns=['Age','Sex','Embarked'])
X_test_remain=X_test.drop(columns=['Age','Sex','Embarked'])

X_train

     Pclass   Sex   Age  SibSp  Parch     Fare Embarked
336       2  male  32.0      0      0  13.0000        S
31        2  male  24.0      2      0  31.5000        S
84        2  male   NaN      0      0  10.7083        Q
287       1  male  24.0      1      0  82.2667        S
317       2  male  19.0      0      0  10.5000        S
..      ...   ...   ...    ...    ...      ...      ...
71        3  male  21.0      0      0   7.8958        S
106       3  male  21.0      0      0   7.8208        Q
270       1  male  46.0      0      0  75.2417        C
348       2  male  24.0      0      0  13.5000        S
102       3  male   NaN      0      0   7.7500        Q

[334 rows x 7 columns]

In [51]:
X_train_transformed=np.concatenate(
    [X_train_remain,X_train_age,X_train_fare,X_train_sex,X_train_embarked],axis=1
)

X_test_transformed=np.concatenate(
    [X_test_remain,X_test_age,X_test_fare,X_test_sex,X_test_embarked],axis=1
)

In [ ]:

from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train_transformed,y_train)

y_pred=clf.predict(X_test_transformed)

In [59]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

1.0