In [ ]:
import pandas as pd
import requests

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1&api_key=5dca48129385e332cb9d1ed29f7c78ef')

pd.DataFrame(response.json()['results'])[[ 'id', 'title', 'release_date', 'video', 'popularity', 'vote_average' ]]

,id,title,release_date,video,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,False,34.3000,8.713
1,238,The Godfather,1972-03-14,False,25.5233,8.684
2,240,The Godfather Part II,1974-12-20,False,17.7748,8.570
3,424,Schindler's List,1993-12-15,False,10.4429,8.566
4,389,12 Angry Men,1957-04-10,False,8.9901,8.500
5,129,Spirited Away,2001-07-20,False,19.2338,8.534
6,155,The Dark Knight,2008-07-16,False,25.3668,8.525
7,19404,Dilwale Dulhania Le Jayenge,1995-10-20,False,8.5706,8.500
8,497,The Green Mile,1999-12-10,False,16.5023,8.503
9,496243,Parasite,2019-05-30,False,18.3906,8.496
10,122,The Lord of the Rings: The Return of the King,2003-12-17,False,21.7660,8.500
11,680,Pulp Fiction,1994-09-10,False,18.1003,8.488
12,372058,Your Name.,2016-08-26,False,29.0331,8.480
13,429,"The Good, the Bad and the Ugly",1966-12-22,False,11.2189,8.500
14,157336,Interstellar,2014-11-05,False,38.7745,8.463
15,13,Forrest Gump,1994-06-23,False,17.1503,8.463
16,769,GoodFellas,1990-09-12,False,13.7350,8.453
17,346,Seven Samurai,1954-04-26,False,6.6764,8.451
18,12477,Grave of the Fireflies,1988-04-16,False,0.0077,8.446
19,667257,Impossible Things,2021-06-17,False,5.1502,8.440

In [20]:
df1=pd.DataFrame()
for i in range(1,495):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}&api_key=5dca48129385e332cb9d1ed29f7c78ef')
    page_data=pd.DataFrame(response.json()['results'])[[ 'id', 'title', 'release_date', 'video', 'popularity', 'vote_average' ]]
    df1 = pd.concat([df1, page_data], ignore_index=True)

df1.to_csv('top_rated_movies.csv', index=False)