In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df=pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('purchased', axis=1), df['purchased'], test_size=0.2, random_state=0)
X_train.head()

     review education
33     Good        PG
35     Poor    School
26     Poor        PG
34  Average    School
18     Good    School

In [9]:
from sklearn.preprocessing import OrdinalEncoder

# specify order of categories
ordinal_encoder = OrdinalEncoder(
    categories=[['Poor','Average','Good'], ['School','UG','PG']]
)

# select only categorical columns
cat_cols = ['review', 'education']

# fit only on categorical columns
ordinal_encoder.fit(X_train[cat_cols])

# transform only categorical columns
X_train_enc = ordinal_encoder.transform(X_train[cat_cols])
X_test_enc = ordinal_encoder.transform(X_test[cat_cols])

X_train_enc=pd.DataFrame(X_train_enc, columns=cat_cols)
X_test_enc=pd.DataFrame(X_test_enc, columns=cat_cols)

X_train_enc.head()

   review  education
0     2.0        2.0
1     0.0        0.0
2     0.0        2.0
3     1.0        0.0
4     2.0        0.0

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(y_train)
y_train_enc=le.transform(y_train)
y_test_enc=le.transform(y_test)

y_train_enc

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])